<!--This card holds all the content-->

<div class="container">
    <div class="row">
        <div class="col md-12 sm-12">
            <br><br><br>

            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="assets/img/burger.jpg" class="card-img" alt="...">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Eat-That-Burger</h5>
                            <hr>
                            <br><br>
                            <div class="col md-12 offset-1">

                                <!--Input form for a user to type a name of a burger and submit it-->
                                <form class="form-inline" action="/" method="POST">
                                    <div class="form-group mb-2">
                                        <p>Type a name of a burger</p>
                                    </div>
                                    
                                    <div class="form-group mx-sm-3 mb-2">
                                        <input class="form-control burger-name" placeholder="">
                                    </div>
                                  
                                    <button type="submit" class="btn submit submit-btn btn-primary mb-2">Submit</button>
                                </form>

                            </div>
                            <hr>
                            <!------------------------------------------------------->

                            <br>

                            <!--Placeholder for burgers that haven't been devoured-->
                            <div class="row">
                                <div class="col md-2 sm-12">
                                    <h6>Not devoured</h6>
                                    <hr>
                                   
                                    <ul >
                                        {{#each burgers.uneaten}}

                                        <li class="not-devoured">  {{this.burger_name}} <button class="devour" type="submit" data-id={{this.id}}>Devour</button> </li>
                                       

                                        {{/each}}
                                    </ul>
                                   
                                </div>
                                <!------------------------------------------------------->


                                <!--Placeholder for devoured burgers burgers------------->
                                <div class="col md-2 sm-12">
                                    <h6>Devoured</h6>
                                    <hr>

                                    <ul>
                                        {{#each burgers.devoured}}

                                        <li> {{this.burger_name}} </li>

                                        {{/each}}
                                    </ul>

                                </div>
                            </div>
                            <!------------------------------------------------------->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------------------------------------------->