body{
    background-color: lightgray;
}

.submit{
    background-color: black;
    border-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

h5{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color:red;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

h6{
    color:red;
    text-align: center;
}

li{
    list-style-type: none;
    padding:5px;
}

.card{
    border-color: gray;
}

.devour{
    float:right;
}